        body{ margin:0px;}
        /* initialize flexbox container and flexbox items */
        
/*TEXT DEFINE
font-family: 'Dosis', sans-serif;
font-family: 'Cairo', sans-serif;
font-family: 'Asap', sans-serif;
font-family: 'Play', sans-serif;
font-family: 'Rajdhani', sans-serif;
font-family: 'Advent Pro', sans-serif;*/

a {color: #ca5a7c;}
figcaption {display: block; font-family: 'Play', sans-serif; font-size: 12px; font-style: italic; color: #cccccc;}
p {font-family: 'Asap', sans-serif; font-size: 12px; line-height: 8px; text-align: center; color: #cccccc;}
.fc section p {font-family: 'Cairo', sans-serif; color: #cccccc; line-height: 23px; font-size: 14px;}
.fc content ul,ol {font-family: 'Cairo', sans-serif; font-size: 14px; line-height: 20px; color: #cccccc;}
.fc section ol {font-family: 'Cairo', sans-serif; text-align: left; color: #cccccc; }
header h1 {font-family: 'Advent Pro', sans-serif; color: #c3073f; font-size: 40px; margin: 0.37em;}
.fc content h1 {font-family: 'Advent Pro', sans-serif; color: #c3073f; font-size: 26px; text-align: center;}
.fc content p {font-family: 'Asap', sans-serif; font-size: 12px; line-height: 8px; text-align: center; }
.fc content h2 {font-family: 'Cairo', sans-serif; color: #c3073f; font-size: 20px;}
.fc content h3 {font-family: 'Asap', sans-serif; color: #950740; font-size: 14px; line-height: inherit;}
.fc section h3 {font-family: 'Cairo', sans-serif; color: #c3073f; font-size: 20px;}
.fc content h4 {font-family: 'Cairo', sans-serif; color: #950740; font-size: 14px; font-style: italic; line-height: 8px;}
footer {font-family: 'Cairo', sans-serif;}
.fc content .reg {font-family: 'Cairo', sans-serif; font-size: 14px; text-align: left; padding-left: 20px; line-height: inherit;}
.info {font-family: 'Cairo', sans-serif; text-align: left;}
.desc {margin-top: 2px; font-family: 'Asap', sans-serif; color: #cccccc; font-size: 12px; text-align: left;}
hr {display: block; margin-top: 0.5em; margin-bottom: 0.5em; margin-left: auto; margin-right: auto; border-style: inset; border-width: 1px;}
table {font-family: 'Cairo', sans-serif; font-size: 14px;}


/*GALLERY*/
.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 1rem;
}
.responsive-image {
  max-width: 2rem;
}
	.grid {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	}
	
  .cell img {display: block;}

  .cell {
    width: calc(100% / 4);
	margin: 2rem;
  }
  .cell2 {
	  width: calc(25% - 2rem);
	  margin: 2rem;
  }

        .fc > *{
            margin:5px;
            padding:20px; 
            border-radius: 5px;
            flex:1;
            min-width: 100px;
        }

        .fc {display: flex; flex-flow: row wrap; min-height: calc(100vh - 193px);}
            /* ensure flex-container is always at least as tall as the viewport, minus the height of the header and footer combined. */
        
        .fc content {
            flex:3;
            background-color: #1a1a1d;
            width: inherit;
            height: 46em;
            overflow: auto;
        }

/*TABLES*/
    /*Impact Assessment Tables*/
        table, th, td {border: 1px solid black; border-collapse: collapse; border-spacing: 5px;}
        table {background-color: white;}
        th {background-color: lightgrey; text-align: left;}
        th, td {padding:5px; vertical-align: top;}

/*NAVIGATION BAR*/
        .fc aside {flex: 0.5; background-image: url(images/purple.png); background-size: cover; background-color: #4e4e50;}
        
        li a.active {background-color: #6f2232; color: #cccccc;} 
        li a:hover:not(.active) {background-color: #950740; color: #cccccc;}
        
        .nav {list-style-type: none; margin: 0; padding: 0; width: inherit; height: inherit; overflow:auto;}
        
        li a{font-family: 'Dosis', sans-serif; line-height: 20px; display: block; color: #cccccc; padding: 8px 16px; text-decoration: none; text-align: center;}
		ul.tc {list-style-type: none; margin: 0; padding: 0;}

        
/*RIGHT SIDE PANEL*/
        .fc section {background-color: #4e4e50; font-size: 14px; text-align: center; overflow: auto;}
        .fc section img {border: 1px solid white; overflow: hidden; max-height: 40%; max-width: 60%;}

/*HEADER AND FOOTER*/
        header {border-bottom: 10px solid #6f2232; padding-bottom: 10px;}
        /* size header and footer to be full width and 100 px tall each */
        header{
            box-sizing: border-box;
            height: 50px;
            margin:5px;
            padding:2px; 
            background-color:#1a1a1d;
            border-radius: 5px;
            padding-left: 10%;
            padding-bottom: 4%;
            color: #cccccc;
        }
    
        footer {
            box-sizing: border-box;
            height: 35px;
            margin:5px;
            padding:2px; 
            background-color:#6f2232;
            border-radius: 5px;
            padding-bottom: 2%;
            color: #cccccc;
        }